.clue {
  text-align: center;
  height: 80px;
  background: blue;
  color: #e0b000;
  font-weight: bold;
  font-size: 18pt;
  font-family: 'Oswald', sans-serif;
  margin: 0px !important;
  border: 1px solid white;
}

.clue:hover {
  background: #e0b000;
  color: blue;
  font-weight: bold;
  font-size: 18pt;
  
}

tr.categories td {
  width: 140px !important;
  height: 140px;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid white;
  border-bottom: 2px solid white;
  font-family: 'Oswald', sans-serif;
  font-size: 18pt;
  color: #e0b000;
  background: blue;
  margin: 0px !important;
}

.game_container {
  display: block;
  width: 100%;
  height: intrinsic;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  float:left;
  padding-bottom: 100px;
}

.game_table {
  margin: auto;
  text-align: center;
  width: intrinsic;
}

.cat_cell {
  color: yellow;
  padding: 5px;
  margin: 0px !important;
}

table {
    border-collapse: collapse;
}


body {
  /*background: #4c4b4c;*/
  background: #1a1a1a;
}

input.date {
  width: 250px;
}

/*.error_msg {
  color: red;
  font-weight: bold;
}*/

a.clear_err {
  cursor: pointer;
  /*z-index: 999;*/
  top: 0px !important;
  text-decoration: none;
  border-bottom: 1px dotted black;
}

.display {
  height: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

.q_display {
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #e0b000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.answer {
  color: #e0b000;
  font-size: 16pt;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  /*margin: auto;*/
}


.show_ans {
  margin: auto;
  width: intrinsic;
  background-color: blue;
  color: #e0b000;
  font-size: 16pt;
  line-height: 20pt;
  border-radius: 10px;
  border: 2px solid blue;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
}

.show_ans:hover {
  margin-top: auto;
  width: intrinsic;
  background-color: #e0b000;
  color: blue;
  font-size: 16pt;
  line-height: 20pt;
  border-radius: 10px;
  border: 2px solid #e0b000;
  padding: 10px;
}

.button_container {
  float: right;
  height: 0px;
}

.next_button {
  border: none;
  border-radius: 10px;
  background: blue;
  color: #e0b000;
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
  position: relative;
  float: right;
  height: auto;
  display: inline;
  padding: 5px;
  cursor: pointer;
}

.next_button:hover {
  border: none;
  border-radius: 10px;
  background: #e0b000;
  color: blue;
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
  position: relative;
  float: right;
  height: auto;
  display: inline;
  padding: 5px;
  cursor: pointer;
}

.form_title {
  border-bottom: 1px dotted #e0b000;
  margin-bottom: 2px;
  width: 400px;
  color: #e0b000;
  font-family: 'Oswald', sans-serif;
}

.date_form {
  margin-bottom: 10px;
}

.search_categories {
  margin-left: 5px;
}

.show_round {
  margin-left: 5px;
}

select {
  color: #e0b000;
  background: blue;
  border: none;
  margin: 5px;
  font-size: 10pt;
  border-radius: none;
  padding: 5px;
}

select:active {
  outline: none;
  border: none;
}

select:focus {
  outline: none;
  border: none;
}

input {
  color: #e0b000;
  background: blue;
  border: none;
  margin: 5px;
  padding: 5px;
  line-height: 10pt;
  font-size: 10pt;
}

input.button {
  color: #e0b000;
  background: blue;
  border: none;
  border-radius: 5px;
  font-size: 10pt;
  margin: 5px;
  padding: 5px;
}

input.button:hover {
  color: blue;
  background: #e0b000;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 10pt;
  padding: 4px;
}

input.search {
  width: 300px;
  line-height: 12pt;
}

input:focus {
  outline: none;
  border: none;
}

input:active {
  outline: none;
  border: none;  
}


.search_results {
  font-family: 'Oswald', sans-serif;
  font-size: 14pt;
  color: #e0b000;
}

.search_results a {
  text-decoration: none;
  border-bottom: 1px dotted #e0b000;
  cursor:pointer;
  text-transform: capitalize;
}

.error_msg_div {
  width: 100%;
  text-align: center;
  top: 0px !important;
  position: absolute;
  padding: 3px;
  margin: 0px;
  display: block;
  overflow: hidden;
  height: 30px;
}

.error_msg {
  top: 0px !important;
  position: fixed;
  text-align: center;
  font-size: 12pt;
  color: black;
  background: #ff6052;
  width: auto;
  padding: 0px 5px 0px 5px;
  border-radius: 2px;
  border: 1px black;
  margin: 0px;
}

.controls {
  display: block;
  position: relative;
}

.clear_err {
  color: blue;
  text-decoration: none;
  border-bottom: 1px dotted black;
}