<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jparty.css') }}" />
  <script src="{{url_for('static', filename='jparty.js')}}"></script>
</head>
<body>
  <div class="controls"></div>
  <div class="error_msg_div" style="display: none;"><div class="error_msg"><a style="width: 100%" class="clear_err">Clear</a></div></div>
  <div class="game_container" style="height: 100%; width: 100%"></div>
  <!-- <div class="display"></div> -->
    <!-- <div class="next_button"><button>Next</button</div> -->
  </div>
  <div class="search_results"></div>
</body>